{{ define "wechat.default.message" }}
{{ range .Alerts }}
= start =
Summary: {{ .Annotations.summary }}
Host: {{ .Labels.instance }}
Description: {{ .Annotations.description }}
Time: {{ .StartsAt.Format "2006-01-02 15:04:05" }}
= end =
{{ end }}
{{ end }}
